<!--
 * File name      : changePassword.ejs
 * Student’s Name : Renzo Navarro
 * StudentID      : 301183749
 * Date           : 10/21/2021
-->

<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<main>
  <div class="container d-flex flex-column align-items-center user">
    <div class="col-md-6">
      <h1><%= title %></h1>
      <br />
      <form class="form" method="POST">
        <div class="row">
          <div class="col-12 col-sm-6">

            <div class="form-group">
              <label for="newPasswordTextField"> New Password </label>
              <input type="newPassword" class="form-control" id="newPasswordTextField" placeholder="Enter the user new password" name="newPassword" value="<%= user.newPassword %>" required />
            </div>
            <div class="form-group">
              <label for="currentPasswordTextField"> Current Password </label>
              <input type="currentPassword" class="form-control" id="currentPasswordTextField" placeholder="Enter the user current password" name="currentPassword" value="<%= user.currentPassword %>" required />
            </div>
            <div>
              <button class="btn btn-primary" type="submit">
                <i class="fas fa-edit"></i>
                Submit
              </button>
              <a href="/user-list/" class="btn btn-warning">
                <i class="fas fa-undo"></i>
                Cancel
              </a>
            </div>
          </div>

      </form>
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>