<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<main class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-8">
      <h1><% title %></h1>
        <table class="table table-bordered table-striped table-hover">
            <!-- Header Row -->
            <tr class="d-flex">
                <th class="text-center col-2"> Email </th>
                <th class="text-center col-10"> Password </th>
            </tr>
                <% for(let count = 0; count < userList.length; count++) { %>
                    <tr class="d-flex">
                        <td class="text-center col-2"> <%= userList[count].email %>  </td>
                        <td class="text-center col-10"> <%= userList[count].password %>  </td>
                    </tr>
                <% } %> 
        </table>
    </div>
  </div>
</main>

<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
