<!--
 * File name      : list.ejs
 * Student’s Name : Renzo Navarro
 * StudentID      : 301183749
 * Date           : 10/21/2021
-->

<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<main>
  <div class="container d-flex flex-row justify-content-center user">
    <div class="col-md-offset-3 col-md-8">
      <h1><%= title %></h1>
      <br />

      <table id="userTable" class="table table-bordered table-striped table-hover">
        <!-- Header Row -->
        <tr class="d-flex justify-content-center align-items-center">
          <% if (typeof displayName == 'string' && displayName) { %>
            <th class="text-center col-2">Contact Name</th>
            <th class="text-center col-3">Contact Number</th>
            <th class="text-center col-3">Email Address</th>
            <th class="text-center col-4"><span>Actions</span></th>
          <% } else { %>
            <th class="text-center col-2">Contact Name</th>
            <th class="text-center col-3">Contact Number</th>
            <th class="text-center col-3">Email Adress</th>
            <th class="text-center col-4"></th>
          <% } %>
        </tr>
        <% for (let count = 0; count < userList.length; count++) { %>
        <tr class="d-flex">
          <% if (typeof displayName == 'string' && displayName) { %>
            <td class="text-center col-2"><%= userList[count].displayName %></td>
          <td class="text-center col-3"><%= userList[count].contactNumber %></td>
          <td class="text-center col-3"><%= userList[count].email %></td>
          <td class="text-center col-2">
              <% if (userList[count].displayName !== displayName) { %>  
                <a href="/user-list/edit/<%= userList[count]._id %>" class="btn btn-primary btn-sm">
                <i class="fas fa-pencil-alt pr-1"></i>Edit</a>
              <% } %> 
            </td>
            <td class="text-center col-2">
              <% if (userList[count].displayName !== displayName) { %>  
                <a id="userCrud" href="/user-list/delete/<%= userList[count]._id %>" class="btn btn-danger btn-sm">
                <i class="fas fa-trash-alt pr-1"></i>Delete</a>
              <% } %> 
            </td>
          <% } else {%>
            <td class="text-center col-2"><%= userList[count].displayName %></td>
            <td class="text-center col-3"><%= userList[count].contactNumber %></td>
            <td class="text-center col-3"><%= userList[count].email %></td>
            <td class="text-center col-4"></td>
          <% } %>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
