<%- include ../partials/header.ejs %> <%- include ../partials/main_nav.ejs %>

<main class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-8">
      <h1><%= title %></h1>
      <br />

      <a href="/user-list/add" class="btn btn-primary" role="button">
        <i class="fas fa-plus-circle"></i>Add a user
      </a>
      <br />
      <table class="table table-bordered table-striped table-hover">
        <!-- Header Row -->
        <tr class="d-flex">
          <th class="text-center col-2">Email</th>
          <th class="text-center col-6">Password</th>
          <th class="text-center col-2"></th>
          <th class="text-center col-2"></th>
        </tr>
        <% for (let count = 0; count < userList.length; count++) { %>
        <tr class="d-flex">
          <td class="text-center col-2"><%= userList[count].email %></td>
          <td class="text-center col-6">
            <%= userList[count].password.substring(0,15) %>...
          </td>
          <td class="text-center col-2">
            <a
              href="/user-list/edit/<%= userList[count]._id %>"
              class="btn btn-primary btn-sm"
              ><i class="fas fa-pencil-alt"></i>Edit</a
            >
          </td>
          <td class="text-center col-2">
            <a
              id="userCrud"
              href="/user-list/delete/<%= userList[count]._id %>"
              class="btn btn-danger btn-sm"
              ><i class="fas fa-trash-alt"></i>Delete</a
            >
          </td>
        </tr>
        <% } %>
      </table>
    </div>
  </div>
</main>

<%- include ../partials/bottom_nav.ejs %> <%- include ../partials/footer.ejs %>
